[Desktop Entry]
Type=Application
Version=1.0
Name=SB - DNS Picker
GenericName=DNS Settings
Comment=Choose the system DNS provider
Icon=utilities-terminal
Exec=wezterm start --always-new-process -- auto-launcher-terminal pick-dns
Terminal=false
Categories=Settings;
Keywords=SB;Script;DNS;Network;Quad9;Cloudflare;
