[Desktop Entry]
Type=Application
Version=1.0
Name=SB - System Update + Firmware
GenericName=Software and Firmware Update
Comment=Update system packages, Flatpaks, and device firmware
Icon=utilities-terminal
Exec=wezterm start --always-new-process -- auto-launcher-terminal update-system --firmware
Terminal=false
Categories=System;
Keywords=SB;Script;Update;Packages;Pacman;Paru;Flatpak;Firmware;
