[submodule "common/.config/zsh/custom/plugins/zsh-you-should-use"]
	path = common/.config/zsh/custom/plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "common/.config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = common/.config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
