[Desktop Entry]
Type=Application
Version=1.0
Name=System Update
Comment=Update system packages and Flatpaks
Icon=text-x-script
Exec=wezterm start --always-new-process -- auto-launcher-terminal update-system
Terminal=false
Categories=System;
Keywords=Script;Update;Packages;Pacman;Paru;Flatpak;Firmware;
